p, div {
	padding-bottom:5px;
}


.request {

	color:darkorange;
}

.requesth3{
	font-size:50%
}

body {

       font-family:Arial;
}
#menu {
 border:solid black 1px;
 display: inline-block;
 margin-left:20px;
 padding-left:10px;
 padding-top:10px;
 padding-right:10px;
 padding-bottom:0px;
}


.more{
       display:inline-block;
       color:blue;
       cursor:pointer;

}

.morelinks{
       display:none;
}

.attr{
	position: relative;
       left:48%;


}
.miniimg {
	height:1.5em;
}


.outer{
	display:flex;
	height:80%;
	margin-bottom:30px;
  height: fit-content;
}

.left{
width:25%;
}
.mid {
  	width:60%;
	height:100%;
}
.right{
	width:25%;

}
